<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DASHBOARD</title>
  
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/foundation.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>
<body ng-app="DashMod" ng-controller="DashCtrl" ng-init="getUser()">
  

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Dashboard</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li class="active"><a href="/logout">logout</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <h2>Dashboard</h2>
    <div class="row">
      <div class="large-2 column">
        <img ng-src="{{user.gravatarUrl}}">
      </div>
      <div class="large-8 column">
        <ul>
          <li>Name : {{user.name}}</li>
          <li>Email : {{user.email}}</li>
          <li>Member Since : {{user.createdAt | date:'MMM dd yyyy'}}</li>
        </ul>
      </div>
    </div>
  </div>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/angular-toastr.tpls.js"></script>
  <script src="/js/dependencies/foundation.js"></script>
  <script src="/js/public/signup/SignupMod.js"></script>
  <script src="/js/public/signup/SignupCtrl.js"></script>
  <script src="/js/public/login/LoginMod.js"></script>
  <script src="/js/public/login/LoginCtrl.js"></script>
  <script src="/js/private/dashboard/DashMod.js"></script>
  <script src="/js/private/dashboard/DashCtrl.js"></script>
  <!--SCRIPTS END-->

</body>
</html>